/* --- TEXT --- */
$text-primary: #000000;
$text-secondary: #b2b3b9;
$text-disabled: #95a1ae;
$text-inverse: #ffffff;

/* --- BACKGROUND --- */
$bg-primary: #f6f6f6;
$bg-secondary: #999999;
$bg-tertiary: #ffffff;
$bg-inverse: #122030;

/* --- BORDER --- */
$border-primary: #ececeb;
$border-secondary: #acacac93;

/* --- STATUS & ACTIONS --- */
$color-accent: #242edb;
$color-accent-light: #797fea;
$color-accent-secondary: #3c538e;
$color-accent-disabled: #c3d1f5;

$color-danger: #f11010;
$color-danger-light: #e93535;

$overlay-bg: rgba(0, 0, 0, 0.5);

/* --- OVERLAY --- */
$overlay-dark: rgba(60, 60, 67, 0.6);
